:root {
  --primary-text-color: #434453;
  --title-text-color: #2E2F42;
  --accent-color:#4D5AE5;
  --bj-color: #ffffff;
  --bj-hero: #2E2F42;
  --bj-about: #e5e5e5;
  --bj-team: #F4F4FD;
  --social-icon: #afb1b8;
  --social-icon-hover: #ffffff;
  --iteam: 3;
  --indent: 30px;
  --time-transformatiom: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* .section {
  padding-bottom: 120px;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  border:none;
}

body {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: baseline;
}

header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  background-color: var(--bj-color);
}


.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link,
.mail,
.tell {
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}


.mail,
.tell {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  align-items: center;
}

.about {
  background-color: var(--bj-about);
}
.about-team {
  background-color: var(--bj-team);
}

.about-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}


.person-card {
  box-sizing: border-box;
  width: 264px;
  height: auto;
  background-color: var(--bj-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.person-card:not(:last-child) {
  margin-right: 30px;
}

.person-text {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 0px;
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
}

.social-icons {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 16px;
  margin-left: auto;
  margin-left: auto;
  padding: 0;
}

.social-list {
  transition-property: background-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.social-list-iteam {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);

}

.works-title{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: capitalize;
}

.social-list-icon {
  
  width: 16px;
  height: 16px;
  fill:white;

}


.social-list:not(:last-child) {
  margin-right: 10px;
}



/* .client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  /* transition-property: border-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function); */
/* } */ 

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

/* 
} */

.client {
  display: inline-flex;
  width: 106px;
  height: 60px;
  fill: var(--social-icon);
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.client-link:hover .client,
.client-link:focus .client {
  fill: var(--accent-color);
}



address {
  margin-top: 20px;
}

.footer-list {
  text-decoration: none;
}

.footer-list-adress > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--bj-color);
}

.footer-list-mail > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.footer-list-tell > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.footer-list-mail > a:hover,
.footer-list-tell > a:hover,
.footer-list-mail > a:focus,
.footer-list-tell > a:focus {
  color: var(--accent-color);
}



.tittle-action {

  color: var(--social-icon-hover); 
}

.footer-social-icons {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer-social-list {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.footer-social-list:hover,
.footer-social-list:focus {
  background-color: var(--accent-color);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-hover);
}

.footer-social-list:not(:last-child) {
  margin-right: 10px;
}

/* .subscribe {
  position: relative;
  width: 570px;
  margin-left: auto;
  margin-right: 0;
} */

.form-input-mail {
  display: flex;
  flex-direction: column;
}


.form-input-mail input {
  margin-top: 20px;
  padding: 15px;
  /* width: 358px;
  height: 50px; */
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--bj-hero);
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-mailinput::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-iteams:not(:last-child) {
  margin-right: 8px;
}

.nav-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--bj-team);
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav-button:hover,
.nav-button:focus {
  cursor: pointer;
  color: var(--bj-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 50px; */
}

.project {
  background-color: var(--bj-color);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  transition-property: box-shadow;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.project-img-box {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.project-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--bj-about);
  padding-left: 24px;
  padding-right: 24px;
}

.project:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:hover .project-overlay {
  transform: translateY(-100%);
  opacity: 1;
}

.project:nth-child(3n) {
  margin-right: 0px;
}

.project:nth-child(n + 7) {
  margin-bottom: 0px;
}

.project-text {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-about {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 4px;
}



.text-footer{
  width: 264px;
  height: 72px;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
color: var(--bj-team);
}


@media (max-width:1158px){

  .specifics-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    /* text-transform: uppercase; */
    color: var(--title-text-color);
    margin-bottom: 8px;
  }

 
  .specifics {
    padding-top: 96px;
    /* padding-bottom: 94px; */
  }
}

@media (min-width:320px){
  .form-input-mail input{
max-width:268px;
  }
}

@media (min-width:468px){
    
  .form-input-mail input{
    min-width: 398px;
  }
}

@media (max-width: 767px){
 
  header {
    padding: 32px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    align-items: stretch;
  }

  .agreement-text,
.agreement-link {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--social-icon);
}


  .menu .link {
    /* padding: 10px; */
    color: inherit;
    text-decoration: none;
  }
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }

  
  .menu-toggle {
    position:absolute;
    right:16px;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    outline: none;
  }

 


.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}


  .page-nav-logo{
    text-decoration: none;
  }

  
  .logo-studio {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
    color: var(--title-text-color);
  } 
  .page-nav-logo-footer {
    margin-bottom: 17.5px;
    text-decoration: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 112px;
    margin-left: auto;
    margin-right: auto;
    
    background-image:linear-gradient(
      to right,
      rgba(46, 47, 66, 0.70),
      rgba(46, 47, 66, 0.70)
    ),
      url(../images/1x/people-office1x.png);
    background-color: var(--title-text-color);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-title {
    max-width: 320px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--bj-color);
  }
  .container {
    max-width: 428рх;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-width: auto;
    padding-left: auto;
    padding-right: auto;
    
  }

  .hero-button {
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    /* width: 200px;
    height: 50px; */
    border-radius: 4px;
    background: var(--accent-color);
   
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--bj-color);
  }

  .hero-button:hover,
.hero-button:focus {
  cursor: pointer;
}
 
  .section {
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 96px;
  }

  .specifics-list {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:72px;
  
  }
  .specifics-section::before {
  
    display: none;
    content: "";
    /* height: 120px; */
    background: #F4F4FD;
    border-radius: 4px;
    /* margin-bottom: 30px; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }



  .specifics-section:nth-child(1)::before {
    background-image: url(../images/antenna-1.svg);
    /* background-size: 66px 70px; */
  }
  
  .specifics-section:nth-child(2)::before {
    background-image: url(../images/clock-1.svg);
    /* background-size: 66px 70px; */
  }
  
  .specifics-section:nth-child(3)::before {
    background-image: url(../images/diagram-1.svg);
    /* background-size: 66px 70px; */
  }
  
  .specifics-section:nth-child(4)::before {
    background-image: url(../images/astronaut-1.svg);
    /* background-size: 66px 70px; */
  }
  
  .specifics-section:not(:last-child) {
    margin-right: 0;
  }

  .specifics-text {
    max-width: 264px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  .works {
    display: none;
    padding-bottom: 0;
  }
  .about-team {
   
    gap:72px;
    background-color: var(--bj-team);
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .team-list{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 72px;
  }

  .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    /* margin-bottom: 0px; */
  }


.person-text {
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.clients{
  padding-top: 96px;
}


.client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc((100%-16px)/2);
  height: 92px;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
}




.clients-list{
display: grid;
grid-template-columns: auto auto;
gap: 72px 16px;
margin-top:72px;
}

.client-iteam {
  margin:0;
}


.button-subscribe {

  font-family: Roboto;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  background: var(--accent-color);
  color: var(--bj-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
}



.button-subscribe::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  fill: var(--bj-color);
  background-size: contain;
  margin-left: 16px;
}



.subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;


}
.text-footer{
  max-width: 268px;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.32px;
}

.footer {
  display: flex;
gap:72px;
  background-color: var(--bj-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;;
}
.social-contacts{
  align-items: center;
}

.tittle-action{
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
  color: var(--social-icon-hover);
text-align: center;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--social-icon-hover);
}

.form-label{
  text-align: center;
}

.nav-list-link{
  display: none;
}
}

/* /////////////////////////////////// */
@media (min-width: 768px) {
  .accent {
    color: var(--accent-color);
  }
  .menu-container{
    display: none;
  }
  .menu-toggle {
    display: none;
  }
  footer{
    background-color: var(--bj-hero);
    padding-top: 60px;
    padding-bottom: 60px;
  
  }
  header{
    padding-left: 16px;
    padding-right: 16px;
  }
  a {
    text-decoration:none;
  }

  .agreement-text,
.agreement-link {
  font-size: 14px;
  
}
  .logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}


.section {
  display: flex;;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 16px;
}


.nav-list-link {
  display: flex;
  position: relative;
  align-items: baseline;
}

.nav-list-link .accent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.nav-list-link:not(:last-child) {
  margin-right: 50px;
}

.link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list-link .link:hover,
.nav-list-link .link:focus {
  color: var(--accent-color);
} 




.nav.list .link {
  display: block;
  align-items: center;
  justify-content: baseline;
} 
.page-header-registration {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
 flex-direction: column;
    justify-content: space-evenly;
} 

 .nav-list-link:hover {
  color: var(--accent-color);
} 

.nav-list-link .mail:hover,
.nav-list-link .tell:hover,
.nav-list-link .mail:focus,
.nav-list-link .tell:focus {
  color: var(--accent-color);
}

.nav-list-link:hover .nav-list-icon-mail {
  fill: var(--accent-color);
}

.nav-list-link:hover .nav-list-icon-phone {
  fill: var(--accent-color);
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-list-icon-mail {
  width: 16px;
  height: 12px;
  fill: var(--social-icon);
  padding: 0;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav-list-icon-phone {
  width: 10px;
  height: 16px;
  fill: var(--social-icon);
  padding: 0;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.page-nav{
  display: flex;
  align-items: center;
}

.hero {

  padding-top: 112px;
  padding-bottom: 112px;
  min-width: 768px;
  /* max-height: 600px; */
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)
  ),
    url(../images/2x/people-office2x.png);
  background-color: var(--bj-hero);
  background-size: cover;
  background-repeat: no-repeat;
}


.hero-title {
  text-align: center;
 
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.06em;
  color: var(--bj-color);
}

.hero-button {
  display: block;
padding:16px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;

  border-radius: 4px;
  background: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--bj-color);
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
}

.specifics-section::before {
  
  display: none;
  content: "";
  /* height: 120px; */
  background: #F4F4FD;
  border-radius: 4px;
  /* margin-bottom: 30px; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.specifics-list {
  display: flex;
  /* flex-direction: column; */
  display: grid;
  
  grid-template-columns: auto auto;
  gap: 72px 24px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.specifics-title{
  text-align: start;
  font-size: 36px;

font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
}

.specifics-text {
 max-width: 356px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.works {
  display: none;
  padding-bottom: 0;
}

.about-team{
  padding-top: 96px;
}
.about-team-title{
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}



.person-card:not(:last-child){
  margin:0;
}


.team-list {
  display: grid;
  margin-top: 72px;
  grid-template-columns: auto auto;
  gap: 64px 24px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.clients{
  display: flex;
  padding-top: 96px;
  justify-content: center;
}
.clients-list{
  display: grid;
  grid-template-columns: 168px 168px 168px;
  gap: 72px 24px;
  margin-top:72px;
  }

  .button-subscribe {

    font-family: Roboto;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
  
    background: var(--accent-color);
    color: var(--bj-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 4px;
  }
  
  
  
  .button-subscribe::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
    fill: var(--bj-color);
    background-size: contain;
    margin-left: 16px;
  }
  
    
  .subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-end;
  
  
  }
  .text-footer{
    max-width: 268px;
    font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.32px;
  }
  
  .footer {
    width: 584px;
   margin-left: auto;
   margin-right: auto;
    display: flex;
 flex-direction: column;
 gap:72px;
  
  }

  .contacts{
    display: flex;
    flex-direction: column;
    gap:17.5px;
    align-items: flex-start;
    margin-right:24px;
  }
  .client-link {
    width: calc((100%-48px)/3);
  }
  
  .tablet-social{
    flex-direction: column;
  }

  .form-input-mail{
    align-items: flex-start;
  }
  .form-input-mail input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 264px;
    border-radius: 4px;
border: 1px solid var(--white, #FFF);
opacity: 0.3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .tittle-action{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    /* text-transform: uppercase; */
    color: var(--social-icon-hover);
  text-align: center;
  }
  
  .logo-web {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  
  .logo-studio-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--social-icon-hover);
  }
  
  .form-label{
    text-align: center;
  }
  .social-contacts{
    display: flex;
    align-content: center;
    align-items: flex-start;
    /* justify-content: center; */
  }
  
}

/* /////////////////////////////////// */


@media (min-width: 1158px){
  .accent {
    color: var(--accent-color);
  }
  .menu-container{
    display: none;
    
    position: unset;
  }
  .menu-toggle {
    display: none;
  }


  header{
    
    padding-left: 16px;
    padding-right: 16px;
  }
  a {
    text-decoration:none;
  }
  .logo-web {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  
  .logo-studio,
  .logo-studio-footer {
   
    font-size: 26px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    
  }
  .page-header-registration{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  .hero{
    min-width: 1158px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title{
    font-size: 56px;
font-weight: 700;
  }

  .hero-button{
    margin-top: 48px;
  }

  .specifics {
  
    padding-left: 0;
    margin-left: 0;
    padding-top: 120px;
  
  }
  .specifics-list {
    display: flex;
    justify-content: center;
    gap:0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
  }
  
  .specifics-section::before {
    display: block;
    content: "";
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .specifics-section:nth-child(1)::before {
    background-image: url(../images/antenna-1.svg);
    background-size: 66px 70px;
  }
  
  .specifics-section:nth-child(2)::before {
    background-image: url(../images/clock-1.svg);
    background-size: 66px 70px;
  }
  
  .specifics-section:nth-child(3)::before {
    background-image: url(../images/diagram-1.svg);
    background-size: 66px 70px;
  }
  
  .specifics-section:nth-child(4)::before {
    background-image: url(../images/astronaut-1.svg);
    background-size: 66px 70px;
  }
  
  .specifics-section:not(:last-child) {
    margin-right: 24px;
  }
  
  .specifics-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
  }
  

  .specifics-text{
    max-width: 264px;
    font-size: 16px;
 
font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  .works {
    display: grid;
    gap: 24px;
    padding-bottom: 120px;
  }
  
  .works-list{
    margin-top: 72px;
    display: flex;
    justify-content: center;
    
  }
  .works-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: capitalize;
  }
  
  .client-link {
    width: calc((100%-120px)/6);
  }
  
  .works-img {
    max-width: 370px;
  }
  
  .works-item-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
  }
  
  .works-iteam-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bj-color);
  }
  
  .works-iteams {
    position: relative;
  }
  
  .works-item-about {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
  }
  
  .works-iteams:not(:first-child) {
    margin-left: 24px;
  }
  .team-list {
    display: flex;
    margin-top: 50px;
  }

  .clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .footer{
   
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
  }
  .subscribe{
    align-items: flex-end;
  }
  footer {
    align-items: center;
  }
  
  .client-iteam:not(:last-child) {
    margin-right: 0px;
}
.contacts{
margin-right: 120px;
}


}

.accent {
  color: var(--accent-color);
}

